<li>
	<%= gravatar_for user %>
	<%= link_to user.name, user %>
	<% if current_user.admin? && !current_user?(user) %>
	| <span class="icon"><i class="icon-trash"></i></span><small><%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" } %></small>
  <% end %>
</li>
